<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cassinelli.cotiza">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".GlobalApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_cassi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cassi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_cassi"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaActivityCondicion2"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_lista_condicion"></activity>

        <activity
            android:name=".ListaActivityBusqCoti"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_busq_cotiza"></activity>

        <activity
            android:name=".Tab3Activity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_ingr_cliente"></activity>
        <activity
            android:name=".ListaActivityCliente"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_lista_cliente"></activity>
        <activity
            android:name=".ListaActivityArticulo"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_lista_articulo"></activity>
        <activity
            android:name=".ListaActivityStock"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_lista_cliente"></activity>
        <activity
            android:name="Container"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="Tab1Activity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_ingr_datos"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="Tab2Activity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_ingr_detalle"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".ListaActivityCotizacion"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_lista_cliente"></activity>
        <activity
            android:name=".Imprimir"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_lista_cliente"></activity>
        <activity
            android:name=".Correo"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_lista_cliente"></activity>
        <activity
            android:name=".ListaActivityMaster"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_busq_master"></activity>
        <activity
            android:name=".MasterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_lista_cliente"></activity>
        <activity
            android:name=".UtilitarioActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_util_niubiz"></activity>
    </application>

</manifest>